@import "../../../../globalScss/style";

.form {
  width: 100%;
  box-shadow: 0 0 10px $black-lower-color;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  @include mobile(){
    margin-top: 20px;
    padding-top: 0.5rem;
    height: auto;
  }
}


.input {
  padding: 0.5rem 1.25rem;
  background-color: $gray-color-hover;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  color: $black-color;
  width: 100%;
}

.passdiv {
  position: relative;
}

.button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  color: $black-color;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  & > div:first-child,
  & > div:last-child {
    flex: 1;
    border-top: 1px solid $gray-color;
  }

  & > div:nth-child(2) {
    padding: 0 0.5rem;
    color: $primary-color;
  }
}

.buttonIngresar {
  color: $primary-color;
  text-align: center;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.divCredentials {
  display: flex;
  margin: auto auto 0.5rem;
}

.p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $confirm-color;
}