$primary-color: #283050;
$secondary-color: #2e7d32;
$tertiary-color: #006064;
$white-color: #FFFFFFFF;
$confirm-color: #d9534f;
$danger-color: rgba(239, 68, 68, 1);
$cancel-color:  #5bc0de;
$add-color: #2ecc71;
$black-color: rgba(0, 0, 0,1);
$black-lower-color:rgba(0, 0, 0, 0.1);
$gray-color:#555;
$gray-color-medium: rgba(85, 85, 85, 0.71);
$gray-color-hover: rgba(85, 85, 85, 0.24);
$blue-color:#007bff;