@import "../../app/globalScss/style";

.form {
  background-color: $white-color;
  padding: 50px;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.header {
  margin-bottom: 15px;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm {
  background-color: $confirm-color;
  color:  $white-color;
}

.cancel {
  background-color: $cancel-color;
  color: $white-color;
}

.error {
  border-color: $danger-color;
}