@import "../../app/variables.module";
.container{
  position: fixed;
  z-index: 500;
  top: 2.5rem;
  right: 2.5rem;
  padding: 1.25rem;
  border-radius: 10px;
  background:$danger-color;
}

.element{
  color:$white-color;
  font-size: 16px;
  font-weight: bold;
}