@import "../../app/globalScss/style";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:$primary-color;
  color: $white-color;
  margin: 4px;


  h2 {
    margin: 0;

    span {
      font-weight: normal;
    }
  }

  .actions {
    display: flex;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      border-radius: 4px;
      color: $white-color;
      font-size: 14px;
      font-weight: bold;

      img {
        margin-right: 8px;
      }
    }

    .delete {
      background-color: $confirm-color;
    }

    .add {
      background-color: $add-color;
    }
  }
}

@media (max-width: 500px) {
  .header {
    width: 100%;
    padding: 1rem;
    h2{
      font-size: 1rem;
    }

    .actions{
      button{
        font-size: 1rem;
      }
    }
  }
}