@import "../../app/globalScss/style";

.pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  @include mobile(){
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    bottom: auto;
  }
  @include table(){
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    bottom: auto;
  }

  .num{
    font-weight: bold;
    color: $tertiary-color;
  }

  .pages {
    display: flex;
    gap: 8px;

    button, a {
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      color: #34495e;

      &.active {
        background-color: $cancel-color;
        color: $white-color;
      }
    }
  }
}
