@import "../../app/variables.module";

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .pages {
    display: flex;
    gap: 8px;

    button, a {
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      color: #34495e;

      &.active {
        background-color: $cancel-color;
        color: $white-color;
      }
    }
  }
}