@import "../../app/variables.module";

.tableContainer {
  background: bisque;
  height: 60vh;
  margin: 16px;
  //background-color:$white-color;
  border-radius: 8px;
  box-shadow: 0 0 10px $black-lower-color;
}

@media (max-width: 640px) {
  .tableContainer {
    overflow-x: scroll;
    width: 100%;
  }
  .employeeTable{
    width: 100%;
    th,td{
      padding: 1rem;
      width: 100%;
    }
  }
}

.employeeTable {
  min-width: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;


  th, td {
    text-align: center;
    border-bottom: 1px solid $gray-color;
  }

  th {
    background-color: $gray-color-medium;
  }

  tbody tr:hover {
    background-color:$gray-color-hover;
  }

  td {
    button {
      padding: 8px;
      border-radius: 4px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .edit {
      margin-right: 8px;
    }

    a{
      text-decoration: none;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .pages {
    display: flex;
    gap: 8px;

    button {
      padding: 8px 16px;
      border-radius: 4px;
      background-color:$gray-color;

      &.active {
        background-color: $cancel-color;
        color: $white-color;
      }
    }
  }
}